

<h1 style = "color:rgb(159, 4, 159); font-family: Verdana">Contact Our</h1>
<h1 style = "font-family: Verdana">Customer Support Center</h1>
   




<h3 style="text-align:center;">Contact Information</h3>
<h6 style="text-align:center;font-family:'Times New Roman', Times, serif">Please fill out your Contact Information below</h6>

<form>
  <h6 style="font-family:'Times New Roman', Times, serif">Name*</h6>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>

  
  <div class="form-group pmd-textfield pmd-textfield-filled">
    <h6 style="font-family :'Times New Roman', Times;">Email*</h6>
    <input type="text" id="small-filled-input" class="form-control form-control-sm" placeholder="Email">
  </div> 

  <div class="form-group pmd-textfield pmd-textfield-filled">
    <h6 style="font-family :'Times New Roman', Times;">Phone*</h6>
    <input type="text" id="small-filled-input" class="form-control form-control-sm" >
  </div> 

  <div class="form-group pmd-textfield pmd-textfield-filled">
    <h6 style="font-family :'Times New Roman', Times;">Address*</h6>
    <input type="text" id="small-filled-input" class="form-control form-control-sm">
  </div> 




  